<%= @token %>

<!-- Branches  -->
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Commit</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.commit.commit %></td>
        <td><%= link_to nil, "#{element._links.html}" %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<!-- Commits -->
<table class="table table-condensed"> 
<thead> 
  <tr>
    <th>Author</th>
    <th>Message</th>
    <th>Commit Date</th>
    <th>Html_url</th>
</thead>
<tbody>
<% @commits_list.each_page do |page| %>
  <% page.each do |commit| %>
    <tr>
      <% if commit.committer.class == Hashie::Mash %>
        <td><%= link_to nil, "http://github.com/#{commit.committer.login}" %></td>
      <% else %>
        <td>Empty</td>
      <% end %>
      <% if commit.commit.class == Hashie::Mash %>
        <td><%= commit.commit.message %></td>
      <% else %>
        <td>Empty</td>
      <% end %>
      <% if commit.commit.author.class == Hashie::Mash %>
       <td><%= commit.commit.author.date %></td>
      <% else %>
        <td>Empty</td>
      <% end %>
      <td><%= link_to nil, "#{commit.html_url}" %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
