<table class="table table-condensed">
<thead> 
  <tr>
    <th>Author</th>
    <th>Message</th>
    <th>Commit Date</th>
    <th>Commit Url</th>
    <th>Html_url</th>
</thead>
<tbody>
<% @commits_list.each_page do |page| %>
  <% page.each do |commit| %>
    <tr>
      <% if commit.committer.class == Hashie::Mash %>
        <td><%= "https://github.com/#{commit.committer.login}" %></td>
      <% else %>
        <td>Empty</td>
      <% end %>
      <td><%= commit.message %></td>
      <% if commit.author.class == Hashie::Mash %>
       <td><%= commit.author.date %></td>
      <% else %>
        <td>Empty</td>
      <% end %>
      <td><%= commit.url %></td>
      <td><%= commit.html_url %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
