<h1> Github Repository Activities </h1>

<%= form_tag({:controller => "github", :action => "index"},{:method => "get", :class => "form-search"}) do %>
  <div class="control-group">
    <label class="control-label" for="inputURL">Repository URL</label>
    <div class="controls">
      <%= text_field_tag :repositoryURL, params[:repositoryURL], placeholder: "Github Read-only URL" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputStartDate">Start Date</label>
    <div class="controls">
      <%= text_field_tag :startDate, params[:startDate], placeholder: "DD-MM-YYYY"%>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEndDate">End Date</label>
    <div class="controls">
      <%= text_field_tag :endDate,  params[:endDate], placeholder: "DD-MM-YYYY" %>
    </div>
  </div>
  <div class="form-actions">
      <%= submit_tag "Search", :name => nil, :class => "btn" %>
  </div>
<% end %>
